.tttWrap {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
}

.cell {
    width: 33%;
    height: 33%;
    display: flex;
    align-items: center;
    justify-content: center;
}